<section id="gallery" class="gallery">
  <div class="container gallery-container">
    <div class="gallery-header">
    <h2 class="gallery-title">Breathe in the Space</h2>
    <p class="gallery-text">
    Step inside YogaBloom and feel the calm. Explore our serene studio and the
    peaceful moments our community shares during each session.
    </p>
  </div>
  <ul class="gallery-list">
    <li class="gallery-list-item">
      <picture class="gallery-picture">
        <source
          media="(min-width: 1336px)"
          srcset="
            /img/gallery/gallery-desk-1-min.png    1x,
            /img/gallery/gallery-desk-1@2x-min.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/gallery/gallery-tab-1-min.png    1x,
            /img/gallery/gallery-tab-1@2x-min.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/gallery/gallery-mob-1-min.png    1x,
            /img/gallery/gallery-mob-1@2x-min.png 2x
          "
        />
        <img
          src="/img/gallery/gallery-desk-1-min.png"
          alt="Group practicing warrior pose during a yoga class"
          width="421"
          height="448"
        />
      </picture>
    </li>
    <li class="gallery-list-item">
        <picture>
        <source
          media="(min-width: 1336px)"
          srcset="
            /img/gallery/gallery-desk-2-min.png    1x,
            /img/gallery/gallery-desk-2@2x-min.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/gallery/gallery-tab-2-min.png    1x,
            /img/gallery/gallery-tab-2@2x-min.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/gallery/gallery-mob-2-min.png    1x,
            /img/gallery/gallery-mob-2@2x-min.png 2x
          "
        />
        <img
          src="/img/gallery/gallery-desk-2-min.png"
          alt="Woman meditating in lotus pose at the center of a yoga group"
          width="421"
          height="448"
        />
      </picture>
    </li>
    <li class="gallery-list-item">
        <picture>
        <source
          media="(min-width: 1336px)"
          srcset="
            /img/gallery/gallery-desk-3-min.png    1x,
            /img/gallery/gallery-desk-3@2x-min.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/gallery/gallery-tab-3-min.png    1x,
            /img/gallery/gallery-tab-3@2x-min.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/gallery/gallery-mob-3-min.png    1x,
            /img/gallery/gallery-mob-3@2x-min.png 2x
          "
        />
        <img
          src="/img/gallery/gallery-desk-3-min.png"
          alt="Empty yoga studio with mats and warm natural lights"
          width="421"
          height="448"
        />
      </picture>
    </li>
    <li class="gallery-list-item">
        <picture>
        <source
          media="(min-width: 1336px)"
          srcset="
            /img/gallery/gallery-desk-4-min.png    1x,
            /img/gallery/gallery-desk-4@2x-min.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/gallery/gallery-tab-4-min.png    1x,
            /img/gallery/gallery-tab-4@2x-min.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/gallery/gallery-mob-4-min.png    1x,
            /img/gallery/gallery-mob-4@2x-min.png 2x
          "
        />
        <img
          src="/img/gallery/gallery-desk-4-min.png"
          alt="Peaceful yoga studio setup with blocks and mats"
          width="421"
          height="448"
        />
      </picture>
    </li>
    <li class="gallery-list-item">
        <picture>
        <source
          media="(min-width: 1336px)"
          srcset="
            /img/gallery/gallery-desk-5-min.png    1x,
            /img/gallery/gallery-desk-5@2x-min.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/gallery/gallery-tab-5-min.png    1x,
            /img/gallery/gallery-tab-5@2x-min.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/gallery/gallery-mob-5-min.png    1x,
            /img/gallery/gallery-mob-5@2x-min.png 2x
          "
        />
        <img
          src="/img/gallery/gallery-desk-5-min.png"
          alt="Young woman meditating with closed eyes during a group session"
          width="421"
          height="448"
        />
      </picture>
    </li>
    <li class="gallery-list-item">
        <picture>
        <source
          media="(min-width: 1336px)"
          srcset="
            /img/gallery/gallery-desk-6-min.png    1x,
            /img/gallery/gallery-desk-6@2x-min.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/gallery/gallery-tab-6-min.png    1x,
            /img/gallery/gallery-tab-6@2x-min.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
        /img/gallery/gallery-mob-6-min.png    1x,
        /img/gallery/gallery-mob-6@2x-min.png 2x
          "
        />
        <img
          src="/img/gallery/gallery-desk-6-min.png"
          alt="Woman meditating in lotus pose at the center of a yoga group"
          width="421"
          height="448"
        />
      </picture>
    </li>
  </ul>
  </div>
</section>