

<section class="pricing-section">
    <div class="container prising-container" id="pricing">
        <div class="pricing-title">
            <h4 class="title-top">Affordable</h4>
            <div class="pricing-title-part">
                <h2 class="title-one">Pricing Plans</h2>
                <p class="discription">Choose the perfect plan for your yoga journey.</p>
            </div>
        </div>
        <ul class="plan-cards">
            <li class="plan-card">
                <div class="plan-card-container">
                    <div class="title-card-container">
                        <h3 class="title-card">One Session</h3>
                        <p class="price">$10</p>
                    </div>
                    <ul class="plan-card-list">
                        <li class="plan-card-list-item"><svg class="icon-check">
                                    <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
                                </svg>1 group session</li>
                        <li class="plan-card-list-item"><svg class="icon-check">
                                <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
                            </svg>10% discount for next 2 Sessions</li>
                        <li class="plan-card-list-item"><svg class="icon-check">
                                <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
                            </svg>Community support group</li>
                    </ul>
                </div>
                <button type="button" class="join-btn" data-modal-open-10>Join</button>
            </li>

            <li class="plan-card">
                <div class="plan-card-container">
                    <div class="title-card-container">
                        <h3 class="title-card">8 Sessions Package</h3>
                        <p class="price">$65</p>
                    </div>
                    <ul class="plan-card-list">
                        <li class="plan-card-list-item">
                            <svg class="icon-check">
                                <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
                            </svg>6 Group Sessions
                        </li>
                        <li class="plan-card-list-item">
                            <svg class="icon-check">
                                <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
                            </svg>2 Individual Sessions
                        </li>
                        <li class="plan-card-list-item">
                            <svg class="icon-check">
                                <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
                            </svg>Priority customer support
                        </li>
                    </ul>
                </div>
                <button type="button" class="join-btn" data-modal-open-65>Join</button>
            </li>

            <li class="plan-card plan-card-three">
                <div class="plan-card-container plan-card-container-three">
                <div class="title-card-container plan-card-right">
                    <h3 class="title-card title_card">12 Sessions Package</h3>
                    <p class="price price_item">$80</p>
                    <button type="button" class="join-btn btn-three" data-modal-open-80>Join</button>
                </div>
                <ul class="plan-card-list last-list">
                    <li class="plan-card-list-item">
                        <svg class="icon-check">
                            <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
                        </svg>8 Group Sessions
                    </li>
                    <li class="plan-card-list-item">
                        <svg class="icon-check">
                            <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
                        </svg>4 Individual Sessions
                    </li>
                    <li class="plan-card-list-item">
                        <svg class="icon-check">
                            <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
                        </svg>Monthly yoga challenges
                    </li>
                    <li class="plan-card-list-item">
                        <svg class="icon-check">
                            <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
                        </svg>Exclusive member discounts
                    </li>
                    <li class="plan-card-list-item">
                        <svg class="icon-check">
                            <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
                        </svg>Community support group
                    </li>
                </ul>
                </div>
                <button type="button" class="join-btn join_btn" data-modal-open-80>Join</button>
            </li>
        </ul>
    </div>
</section>