<section class="team" id="team">
    <div class="container team-container">
        <div class="team-top-part">
            <h5 class="team-meet">Meet</h5>
            <div class="team-header-block">
                <h2 class="team-header">Our Team</h2>
                <p class="team-header-text">Dedicated professionals passionate about yoga and wellness.</p>
            </div>
        </div>

        <ul class="team-list">
            <li class="team-item">
                <picture>
                    <source srcset="/img/team/liam-desk.jpg 1x, /img/team/liam-desk@2x.jpg 2x"
                        media="(min-width: 1336px)" width="421">
                    <source srcset="/img/team/liam-tab.jpg 1x, /img/team/liam-tab@2x.jpg 2x" media="(min-width: 768px)"
                        width="340">
                    <source srcset="/img/team/liam-mob.jpg 1x, /img/team/liam-mob@2x.jpg 2x" media="(max-width: 767px)"
                        width="343">
                    <img class="team-img" src="/img/team/liam-mob.jpg" alt="Liam">
                </picture>
                <div class="team-card">
                    <div class="team-card-part">
                        <h3 class="team-name">Liam Johnson</h3>
                        <h4 class="team-position">Yoga Instructor</h4>
                    </div>
                    <p class="team-item-text">Liam specializes in mindfulness and stress reduction techniques through
                        guided meditation.</p>
                </div>
                <ul class="team-social-network">
                    <li class="team-social-item">
                        <a class="team-social-link" href="https://www.linkedin.com/" target="_blank">
                            <svg class="team-social-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="team-social-item">
                        <a class="team-social-link" href="https://www.instagram.com/" target="_blank">
                            <svg class="team-social-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="team-item">
                <picture>
                    <source srcset="/img/team/emma-desk.jpg 1x, /img/team/emma-desk@2x.jpg 2x"
                        media="(min-width: 1336px)" width="421">
                    <source srcset="/img/team/emma-tab.jpg 1x, /img/team/emma-tab@2x.jpg 2x" media="(min-width: 768px)"
                        width="340">
                    <source srcset="/img/team/emma-mob.jpg 1x, /img/team/emma-mob@2x.jpg 2x" media="(max-width: 767px)"
                        width="343">
                    <img class="team-img" src="/img/team/emma-mob.jpg" alt="Emma">
                </picture>
                <div class="team-card">
                    <div class="team-card-part">
                        <h3 class="team-name">Emma Stone</h3>
                        <h4 class="team-position">Meditation Coach</h4>
                    </div>
                    <p class="team-item-text">Emma has over 10 years of experience in Hatha and Vinyasa yoga.</p>
                </div>
                <ul class="team-social-network">
                    <li class="team-social-item">
                        <a class="team-social-link" href="https://www.linkedin.com/" target="_blank">
                            <svg class="team-social-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="team-item">
                <picture>
                    <source srcset="/img/team/sophia-desk.jpg 1x, /img/team/sophia-desk@2x.jpg 2x"
                        media="(min-width: 1336px)" width="421">
                    <source srcset="/img/team/sophia-tab.jpg 1x, /img/team/sophia-tab@2x.jpg 2x"
                        media="(min-width: 768px)" width="340">
                    <source srcset="/img/team/sophia-mob.jpg 1x, /img/team/sophia-mob@2x.jpg 2x"
                        media="(max-width: 767px)" width="343">
                    <img class="team-img" src="/img/team/sophia-mob.jpg" alt="Sophia">
                </picture>
                <div class="team-card">
                    <div class="team-card-part">
                        <h3 class="team-name">Sophia Lee</h3>
                        <h4 class="team-position">Pilates Trainer</h4>
                    </div>
                    <p class="team-item-text">Sophia combines Pilates with yoga for a holistic fitness approach.</p>
                </div>
                <ul class="team-social-network">
                    <li class="team-social-item">
                        <a class="team-social-link" href="https://www.instagram.com/" target="_blank">
                            <svg class="team-social-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="team-item">
                <picture>
                    <source srcset="/img/team/noah-desk.jpg 1x, /img/team/noah-desk@2x.jpg 2x"
                        media="(min-width: 1336px)" width="421">
                    <source srcset="/img/team/noah-tab.jpg 1x, /img/team/noah-tab@2x.jpg 2x" media="(min-width: 768px)"
                        width="340">
                    <source srcset="/img/team/noah-mob.jpg 1x, /img/team/noah-mob@2x.jpg 2x" media="(max-width: 767px)"
                        width="343">
                    <img class="team-img" src="/img/team/noah-mob.jpg" alt="Noah">
                </picture>
                <div class="team-card">
                    <div class="team-card-part">
                        <h3 class="team-name">Noah Brown</h3>
                        <h4 class="team-position">Yoga Therapist</h4>
                    </div>
                    <p class="team-item-text">Noah focuses on therapeutic yoga to aid recovery and enhance well-being.
                    </p>
                </div>
                <ul class="team-social-network">
                    <li class="team-social-item">
                        <a class="team-social-link" href="https://www.linkedin.com/" target="_blank">
                            <svg class="team-social-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="team-item">
                <picture>
                    <source srcset="/img/team/ava-desk.jpg 1x, /img/team/ava-desk@2x.jpg 2x" media="(min-width: 1336px)"
                        width="421">
                    <source srcset="/img/team/ava-tab.jpg 1x, /img/team/ava-tab@2x.jpg 2x" media="(min-width: 768px)"
                        width="340">
                    <source srcset="/img/team/ava-mob.jpg 1x, /img/team/ava-mob@2x.jpg 2x" media="(max-width: 767px)"
                        width="343">
                    <img class="team-img" src="/img/team/ava-mob.jpg" alt="Ava">
                </picture>
                <div class="team-card">
                    <div class="team-card-part">
                        <h3 class="team-name">Ava Green</h3>
                        <h4 class="team-position">Fitness Trainer</h4>
                    </div>
                    <p class="team-item-text">Ava integrates strength training with yoga to promote overall fitness.</p>
                </div>
                <ul class="team-social-network">
                    <li class="team-social-item">
                        <a class="team-social-link" href="https://www.facebook.com/" target="_blank">
                            <svg class="team-social-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="team-social-item">
                        <a class="team-social-link" href="https://www.instagram.com/" target="_blank">
                            <svg class="team-social-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="team-social-item">
                        <a class="team-social-link" href="https://www.linkedin.com/" target="_blank">
                            <svg class="team-social-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="team-item">
                <picture>
                    <source srcset="/img/team/clark-desk.jpg 1x, /img/team/clark-desk@2x.jpg 2x"
                        media="(min-width: 1336px)" width="421">
                    <source srcset="/img/team/clark-tab.jpg 1x, /img/team/clark-tab@2x.jpg 2x"
                        media="(min-width: 768px)" width="340">
                    <source srcset="/img/team/clark-mob.jpg 1x, /img/team/clark-mob@2x.jpg 2x"
                        media="(max-width: 767px)" width="343">
                    <img class="team-img" src="/img/team/clark-mob.jpg" alt="Clark">
                </picture>
                <div class="team-card">
                    <div class="team-card-part">
                        <h3 class="team-name">Clark Thomas</h3>
                        <h4 class="team-position">Fitness Trainer</h4>
                    </div>
                    <p class="team-item-text">Clark specializes in mindfulness and stress reduction techniques through
                        guided meditation.</p>
                </div>
                <ul class="team-social-network">
                    <li class="team-social-item">
                        <a class="team-social-link" href="https://www.facebook.com/" target="_blank">
                            <svg class="team-social-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="team-social-item">
                        <a class="team-social-link" href="https://www.instagram.com/" target="_blank">
                            <svg class="team-social-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>